openapi: 3.0.3
info:
  title: Algo Stats API
  description: API providing statistics for traP team-algorithm.
  version: 1.0.0
servers:
  - url: https://algo-stats.trap.show/v1
    description: Production server
  - url: http://localhost:3000
    description: Development server

tags:
  - name: Users
    description: Operations related to users
  - name: Ratings
    description: Operations related to ratings

paths:
  /users:
    get:
      tags:
        - Users
      summary: Get a list of all users
      description: Returns a list of all users with their trap account names, AtCoder account names, and AtCoder ratings.
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
  /rate/algorithm/{trapAccountName}:
    get:
      tags:
        - Ratings
      summary: Get the algorithm rating of a user
      description: Returns the algorithm rating of a user based on their trap account name.
      parameters:
        - name: trapAccountName
          in: path
          required: true
          description: The trap account name of the user.
          schema:
            type: string
      responses:
        '200':
          description: The algorithm rating of the user
          content:
            application/json:
              schema:
                type: integer
                description: The algorithm rating of the user.
                example: 1866
  /rate/heuristic/{trapAccountName}:
    get:
      tags:
        - Ratings
      summary: Get the heuristic rating of a user
      description: Returns the heuristic rating of a user based on their trap account name.
      parameters:
        - name: trapAccountName
          in: path
          required: true
          description: The trap account name of the user.
          schema:
            type: string
      responses:
        '200':
          description: The heuristic rating of the user
          content:
            application/json:
              schema:
                type: integer
                description: The heuristic rating of the user.
                example: 1854

components:
  schemas:
    User:
      type: object
      properties:
        trapAccountName:
          type: string
          description: The trap account name of the user.
          example: comavius
        atcoderAccountName:
          type: string
          description: The AtCoder account name of the user.
          example: comavius
        atcoderRating:
          type: integer
          description: The AtCoder rating of the user.
          example: 1866
        heuristicRating:
          type: integer
          description: The heuristic rating of the user.
          example: 1854
        isAlgoTeam:
          type: boolean
          description: Indicates if the user is a member of the Algo team.
          example: true
        isActive:
          type: boolean
          description: Indicates if the user is active.
          example: true
        grade:
          type: string
          description: The grade of the user.
          example: "23B"
      required:
        - trapAccountName
